doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	script(src="https://apis.google.com/js/client.js")
	script(type='text/javascript' data-main="/javascripts/app/main" src="/javascripts/require.js")

